.container {
  padding-top: 78px;
  width: 859px;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 18px;
  align-items: flex-end;
}

.selectPriceField::before {
  content: 'To';
  position: absolute;
  top: 14px;
  left: 18px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.selectTitle {
  margin-bottom: 8px;
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.inputWrap {
  display: flex;
}

.inputLabel {
  position: relative;
}

.inputTitle {
  position: absolute;
  top: 13px;
  left: 24px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.inputFrom {
  border-radius: 14px 0px 0px 14px;
  background: #f7f7fb;
  border: none;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  padding: 14px 14px 14px 75px;
  width: 160px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  outline: none;
}

.inputTo {
  border-radius: 0px 14px 14px 0px;
  background: #f7f7fb;
  border: none;
  padding: 14px 14px 14px 53px;
  width: 160px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  outline: none;
}

.searchBtn {
  width: 136px;
  height: 48px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  background-color: #3470ff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.searchBtn:hover {
  background-color: #0b44cd;
}
