@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary-color: #101828;
  --secondary-color: #475467;
  --bg-color: #006d79;
  --primaery-white: #ffffff;
  --primary-accent-color: #E44848;
  --secondary-accent-color: #FFC531;
  --primary-bg-color: #F2F4F7;
  --secondary-bg-color: #F7F7F7;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  background-color: var(--primaery-white);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 64px;
  padding-right: 64px;
}

.active {
  color: var(--primary-accent-color)
}